{{ define "main" }}

<div class="text-center border-bottom bg-white mt-4 mb-4">
  <div class="container">
    <a href="https://www.mines.edu" target="_blank">
      <img class="center-image" style="width: 50%; display: inline;" src="mines.png" alt="Mines">
    </a>
  </div>

  <h1 class="display-4">High School Programming Competition</h1>
  <div class="mx-auto">
    <p class="lead mb-4">
      Engage in exciting problems at the Mines HSPC! Registration is now open for the Spring 2023 competition (F2F or online via Zoom)
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <form class="form-inline">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Register</button>
      </form>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col">
      <div class="content">
        <h1>Engage in Exciting Problems</h1>
        <p>
          The CS@Mines High School Programming Competition is a competition
          for high school students to write programs that solve problems.
        </p>
        <p>
          We model our programming competition off well-known college-level
          competitions such as <a href="https://icpc.global">ICPC</a>, but bring an
          inviting set of problems to the table suitable for high school
          students. 
        </p>
        <p>
          The 2023 competition will include <strong>four</strong> available tracks in the 
          form of both <strong>in-person and virtual</strong> competitions, which compete at 
          the same day and time. Both competitions are offered in two levels of difficulty: 
          <strong>Beginner</strong>, for  students with basic computing experience and 
          <strong>advanced</strong>, for students with significant computing experience.
        </p>
        <p>
          Registration is now open and closes March 2023.
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="competition1.jpg" alt="Problem solution presentation at the 2022 competition">
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="competition2.jpg" alt="HSPC volunteers at the 2022 competition">
    </div>
    <div class="col">
      <div class="content">
        <h1>Schedule</h1>
        <h4><i>2023 Date To Be Announced</i></h4>
        <table class="table">
          <tbody>
            <tr>
              <td>8:30 AM to 9:00 AM</td>
              <td>Registration</td>
            </tr>
            <tr>
              <td>9:00 AM to 10:00 AM</td>
              <td>Introduction and Setup</td>
            </tr>
            <tr>
              <td>10:00 AM to 2:00 PM</td>
              <td>Competition</td>
            </tr>
            <tr>
              <td>11:30 AM to 12:00 PM</td>
              <td>Lunch available (at Mines)</td>
            </tr>
            <tr>
              <td>2:00 PM to 3:00 PM</td>
              <td>Awards</td>
            </tr>
            <tr>
              <td>3:00 PM to 4:00 PM</td>
              <td>Campus Tour (optional)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col">
      <div class="content">
        <h1>About Us</h1>
        <p>
          Mines is a public research university focused on science and engineering. In the 2022 competition, we had:
          <ul>
            <li>45 different schools</li>
            <li>9 different states (CO, CA, IL, MN, NJ, TX, AR, MA, GA)</li>
            <li>2 countries (US, Lebanon)</li>
            <li>45 teams in the Beginner division (about 140 competitors)</li>
            <li>28 teams in the Advanced division (about 90 competitors)</li>
            <li>28 in-person teams (about 90 competitors)</li>
            <li>45 virtual teams (about 140 competitors)</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="image-fluid shadow w-100" src="csm.jpg" alt="A picture of the Mines campus.">
    </div>
  </div>
</div>

{{ end }}
