<footer class="footer">
    <a href="https://www.mines.edu" target="_blank">
        <img class="center-image" style="width: 60%;" src="mines.png" alt="Mines">
    </a>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://acm.mines.edu" target="_blank">
                <img class="center-image" style="width: 70%;" src="acm.png" alt="ACM">
                </a>
            </div>
            <div class="col-sm" style="vertical-align: middle;">
                <a href="http://cs.mines.edu" target="_blank">
                <img class="center-image" style="width: 80%;" src="csmines.svg" alt="CS@Mines">  
                </a>
            </div>
            <div class="col-sm" style="justify-content: center;">
                <a href="https://tech.mines.edu" target="_blank">
                <img class="center-image" style="width: 50%;" src="dectech.png" alt="DECtech">
                </a>
            </div>
        </div>
    </div> 
</footer>
