<nav class="navbar sticky-top navbar-expand-lg" id="main-nav">
    <div class="container-fluid">
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/rules.html">Rules</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/registration.html">Registration</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/faq.html">FAQ</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sponsors.html">Sponsors</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/archive.html">Previous Competitions</a>
            </li>
        </ul>
        </div>
    </div>
</nav>