<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="navbar-brand" href="#">
                <img src="hspc_transparent.png" width="90" height="90" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand" href="#">
                <img src="csmines.svg" width="140" height="95" alt="">
                <p style="margin-left: 1%; font-size: 25px; display: inline-block;">HSPC</p>
            </a>
            <!-- TODO add active coloring for which page you're on -->
            <li class="nav-item">
            <a class="nav-link" id="rules-link" aria-current="page" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="registration-link" aria-current="page" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="faq-link" aria-current="page" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="archive-link" aria-current="page" href="/archive">Archive</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
