/* Page formatting */
@font-face {
  font-family: "Gotham";
  src: url("./fonts/subset-GothamBold.woff2") format("woff2"),
    url("./fonts/subset-GothamBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

body {
  background-color: rgba(105, 88, 130, 0.15);
}

/* Navigation */
.navbar {
  padding: 0;
  background-color: white;
}

.navbar-brand {
  color: #24314b;
  padding-bottom: 0.75rem;
  padding-top: 0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  color: #24314b;
  font-size: 25px;
  height: 100%;
  line-height: 75px;
  font-family: "Montserrat", sans-serif;
}

.home-link-active {
  border-bottom: 5px solid #24314b;
}

#home-link:hover {
  color: #24314b;
  border-bottom: 5px solid #24314b;
}

#rules-link:hover {
  color: #B44A88;
  border-bottom: 5px solid #B44A88;
}

.rules-link-active {
  color: #B44A88 !important;
  border-bottom: 5px solid #B44A88;
}

#registration-link:hover {
  color: #008234;
  border-bottom: 5px solid #008234;
}

.registration-link-active {
  color: #008234 !important;
  border-bottom: 5px solid #008234;
}

#faq-link:hover {
  color: #268282;
  border-bottom: 5px solid #268282;
}

.faq-link-active {
  color: #268282 !important;
  border-bottom: 5px solid #268282;
}

#archive-link:hover {
  color: #9B6400;
  border-bottom: 5px solid #9B6400;
}

.archive-link-active {
  color: #9B6400 !important;
  border-bottom: 5px solid #9B6400;
}

/* Containers */
.container-fluid {
  padding-top: 0.75rem;
}

.archive-row {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

/* Headers */
h1,
h2,
h3 {
  font-family: Gotham, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

#schedule-header {
  font-size: 22px;
  font-weight: bold;
}

/* Content */
.content .page-header {
  text-align: center;
  background-color: #24314b;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

.content .page-content {
  font-size: 20px;
}

.content .page-content.home h1 {
  background-color: #24314b;
  color: white;
  padding: 25px;
}

.content .page-content.home .info-box {
  background-color: white;
  font-size: 20px;
}

.content .page-content.home .info-box .content-text {
  padding: 20px 30px;
}

.content .page-content.archive,
.content .page-content.confirm-email,
.content .page-content.rules,
.content .page-content.register,
.content .page-content.student,
.content .page-content.teacher,
.content .page-content.team,
.content .page-content.teams,
.content .page-content.faq {
  background-color: white;
}

/* Footer */
.footer {
  margin-bottom: 20px;
  padding: 20px;
}

/* Text & Utilities */
.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#registration-info {
  font-size: 20px;
}

.w-100 hr {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/* Registration Team Page */

.registration-progress {
  display: flex;
  align-items: center;
}

.registration-progress-text {
  display: flex;
  align-items: center;
}

.registration-progress-text div {
  width: 180px;
  text-align: center;
}

.registration-progress-text .line {
  width: 20px;
}

.registration-progress .line {
  width: 160px;
  height: 6px;
  background: #a5a5a5;
}
.registration-progress .line.completed {
  background: #63d19e;
}

.registration-progress .step {
  display: flex;
  background-color: #a5a5a5;
  color: black;
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.registration-progress .step.completed {
  background-color: #63d19e;
  color: white;
}
