{{ define "title" }}Admin Teams{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Admin Teams</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <div class="row">
    <div class="col m-4">
      If you don't see anything, you might need to go
      <a href="/admin/login">back to login</a>.
    </div>
  </div>
  <div class="row">
    <div class="col mx-4">
      <div class="alert alert-danger" role="alert">
        Clicking on any of the "resend email" buttons will <b>IMMEDIATELY</b> send an email to the
        student/parent. Please only use if you are absolutely sure that you want to send an email.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ms-4 md-8">
      <div class="card">
        <div class="card-header">
          Team Registration Stats
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Beginner</th>
                <th>Advanced</th>
                <th><b>TOTAL</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>In-Person</th>
                <th>{{ .Data.TeamStats.Beginner.InPerson }}</th>
                <th>{{ .Data.TeamStats.Advanced.InPerson }}</th>
                <th>{{ .Data.TeamStats.TotalInPerson }}</th>
              </tr>
              <tr>
                <th>Remote</th>
                <th>{{ .Data.TeamStats.Beginner.Remote }}</th>
                <th>{{ .Data.TeamStats.Advanced.Remote }}</th>
                <th>{{ .Data.TeamStats.TotalRemote }}</th>
              </tr>
              <tr>
                <th><b>TOTAL</b></th>
                <th>{{ .Data.TeamStats.Beginner.Total }}</th>
                <th>{{ .Data.TeamStats.Advanced.Total }}</th>
                <th>{{ .Data.TotalTeams }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col me-4 md-8">
      <div class="card">
        <div class="card-header">
          Student Registration Stats
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Beginner</th>
                <th>Advanced</th>
                <th><b>TOTAL</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>In-Person</th>
                <th>{{ .Data.StudentStats.Beginner.InPerson }}</th>
                <th>{{ .Data.StudentStats.Advanced.InPerson }}</th>
                <th>{{ .Data.StudentStats.TotalInPerson }}</th>
              </tr>
              <tr>
                <th>Remote</th>
                <th>{{ .Data.StudentStats.Beginner.Remote }}</th>
                <th>{{ .Data.StudentStats.Advanced.Remote }}</th>
                <th>{{ .Data.StudentStats.TotalRemote }}</th>
              </tr>
              <tr>
                <th><b>TOTAL</b></th>
                <th>{{ .Data.StudentStats.Beginner.Total }}</th>
                <th>{{ .Data.StudentStats.Advanced.Total }}</th>
                <th>{{ .Data.TotalStudents }}</th>
              </tr>
            </tbody>
          </table>
          <ul>
            <li><b>Campus Tour Count:</b> {{ .Data.CampusTourStudents }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ range $t := .Data.Teams }}
    <div class="row">
      <div class="col m-4">
        <div class="card">
          <div class="card-header">
            Team <b>{{ .Name }}</b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <b>School:</b> {{ .SchoolName }}
              </div>
              <div class="col-sm-6">
                <b>Teacher:</b> {{ .TeacherName }}
              </div>
              <div class="col-sm-3">
                <b>Division:</b> {{ .Division }}
              </div>
              <div class="col-sm-3">
                <b>In Person:</b> {{ if .InPerson }}Yes{{ else }}No{{ end }}
              </div>
              {{ if gt .RegistrationTS.UnixMilli 0 }}
                <div class="col-sm-6">
                  <b>Registration Time:</b> {{ .RegistrationTS.Format "2006-01-02 15:04 MST" }}
                </div>
              {{ end }}
            </div>
            <div class="row my-2">
              <div class="col">
                <b>Reason for division:</b> {{ .DivisionExplanation }}
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{ range .Members }}
                  <tr>
                    <td class="align-middle w-50">
                      <b>{{ .Name }}</b>
                      <p class="small text-secondary mb-0">
                        {{ .Email }}
                        {{ if not .EmailConfirmed }}
                          <br>
                          <small>
                            <a href="/admin/resendstudentemail?email={{ .Email }}">
                              Resend Student Email Confirmation
                            </a>
                          </small>
                        {{ end }}
                        {{ if and .EmailConfirmed (not .LiabilitySigned) }}
                          <br>
                          <small>
                            <a href="/admin/resendparentemail?email={{ .Email }}">
                              Resend Parent Email ({{ .ParentEmail }})
                            </a>
                          </small>
                        {{ end }}
                      </p>
                    </td>
                    <td class="align-middle">
                      <div class="row">
                        <div class="col d-flex justify-content-center">
                          <div class="registration-progress">
                            <div class="step {{ if .EmailConfirmed }}completed{{ end }}">
                              <span><i class="fa {{ if .EmailConfirmed }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                            </div>
                            <span class="line {{ if .LiabilitySigned }}completed{{ end }}"></span>
                            <div class="step {{ if .LiabilitySigned }}completed{{ end }}">
                              <span><i class="fa {{ if .LiabilitySigned }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                            </div>
                            {{ if $t.InPerson }}
                              <span class="line {{ if .ComputerUseWaiverSigned }}completed{{ end }}"></span>
                              <div class="step {{ if .ComputerUseWaiverSigned }}completed{{ end }}">
                                <span><i class="fa {{ if .ComputerUseWaiverSigned }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                              </div>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-center">
                          <div class="registration-progress-text">
                            <div><small class="{{ if not .EmailConfirmed }}text-muted{{ end }}">Email Confirmed</small></div>
                            <span class="line"></span>
                            <div><small class="{{ if not .LiabilitySigned }}text-muted{{ end }}">Liability Waiver</small></div>
                            {{ if $t.InPerson }}
                              <span class="line"></span>
                              <div><small class="{{ if not .ComputerUseWaiverSigned }}text-muted{{ end }}">Computer Use Waiver</small></div>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
