{{ define "title" }}Archive{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Archive</h1>
      <p>
        For the last five years, the CS@Mines High School Programming
        Competition has provided high school students an opportunity to
        demonstrate their programming and problem solving skills in a
        competitive environment.
      </p>
    </div>
  </div>
</div>

<div class="container page-content archive pb-4">
  {{- range $y := .Data -}}
    <div class="row">
      <div class="col mt-4 mx-4">
          <h2>{{ .Year }}</h2>
          {{- range .RecapParagraphs -}}<p>{{ . }}</p>{{- end -}}
      </div>
    </div>
    <div class="row m-4">
      <div class="col-md-6">
        <div class="d-grid gap-2">
          {{- range .Links -}}
            <a href="{{ .URL }}" target="_blank" class="btn btn-outline-primary">{{- .Title -}}</a>
          {{- end -}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="accordion" id="winners{{ .Year }}">
          {{- range $i, $r := .Results -}}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ $y.Year }}{{ .Name }}">
                <button
                  class="accordion-button {{ if gt $i 0 }}collapsed{{ end }}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#winners{{ $y.Year }}{{ .Name }}"
                  aria-expanded="true"
                  aria-controls="winners{{ $y.Year }}{{ .Name }}"
                >
                  <strong>{{- .Name }} Competition Winners</strong>
                </button>
              </h2>
              <div
                id="winners{{ $y.Year }}{{ .Name }}"
                class="accordion-collapse collapse {{ if eq $i 0 }}show{{ end }}"
                aria-labelledby="heading{{ $y.Year }}{{ .Name }}"
                data-bs-parent="#winners{{ $y.Year }}">
                <div class="accordion-body p-0">
                  <ul class="list-group list-group-flush">
                    {{- range .Teams -}}
                      <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ .Name }}</h5>
                          <strong>
                            <i class="bi bi-trophy-fill" role="img" aria-label="Trophy"></i>
                            {{ .Place }} Place
                          </strong>
                        </div>
                        <p class="mb-1 text-secondary">
                          {{ .School }} &bull; {{ .Location }}
                        </p>
                      </li>
                    {{- end -}}
                  </ul>
                </div>
              </div>
            </div>
          {{- end -}}
        </div>
      </div>
    </div>
  {{- end -}}
</div>
{{ end }}
