{{ define "title" }}Home{{ end }}

{{ define "content" }}

<div class="text-center bg-white mt-4 mb-4 pt-5 pb-5">
  <div class="container">
    <a href="https://cs.mines.edu" target="_blank">
      <img class="center-image" style="width: 25%; display: inline;" src="/static/csmines.svg" alt="CS@Mines">
    </a>
  </div>

  <h1 class="display-4">High School Programming Competition</h1>
  <div class="mx-auto">
    <p class="lead mb-4">
      Engage in exciting problems at the Mines HSPC! Registration will open soon for the Spring 2023 competition (F2F or online via Zoom)
    </p>
    <a href="/register/" class="btn btn-primary btn-lg px-6">Register</a>
  </div>
</div>

<div class="container page-content home">
  <div class="row mb-4">
    <div class="col">
      <div class="info-box">
        <h1>Engage in Exciting Problems</h1>
        <div class="content-text">
          <p>
            The CS@Mines High School Programming Competition is a competition
            for high school students to write programs that solve problems.
          </p>
          <p>
            We model our programming competition off well-known college-level
            competitions such as <a href="https://icpc.global">ICPC</a>, but bring an
            inviting set of problems to the table suitable for high school
            students. 
          </p>
          <p>
            The 2023 competition will include <strong>four</strong> available tracks in the 
            form of both <strong>in-person and virtual</strong> competitions, which compete at 
            the same day and time. Both competitions are offered in two levels of difficulty: 
            <strong>Beginner</strong>, for  students with basic computing experience and 
            <strong>advanced</strong>, for students with significant computing experience.
          </p>
          <p>
            Registration will open by the end of 2023 and will close in March 2023.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition1.jpg" alt="Problem solution presentation at the 2022 competition">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition2.jpg" alt="HSPC volunteers at the 2022 competition">
    </div>
    <div class="col">
      <div class="info-box">
        <h1>Schedule</h1>
        <div class="content-text">
          <h4><i>Saturday, April 29th, 2023</i></h4>
          <table class="table">
            <tbody>
              <tr>
                <td>8:30 AM to 9:00 AM</td>
                <td>Registration</td>
              </tr>
              <tr>
                <td>9:00 AM to 10:00 AM</td>
                <td>Introduction and Setup</td>
              </tr>
              <tr>
                <td>10:00 AM to 2:00 PM</td>
                <td>Competition</td>
              </tr>
              <tr>
                <td>11:30 AM to 12:00 PM</td>
                <td>Lunch available (at Mines)</td>
              </tr>
              <tr>
                <td>2:00 PM to 3:00 PM</td>
                <td>Awards</td>
              </tr>
              <tr>
                <td>3:00 PM to 4:00 PM</td>
                <td>Campus Tour (optional)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="info-box">
        <h1>About Us</h1>
        <div class="content-text">
          <p>
            Mines is a public research university focused on science and engineering, located in Golden, CO. 
            HSPC is organized and run by Mines ACM volunteers with funding from CS@Mines.
            <br><br>
            In the 2022 competition, we had:
            <ul>
              <li>45 different schools</li>
              <li>9 different states (CO, CA, IL, MN, NJ, TX, AR, MA, GA)</li>
              <li>45 teams in the Beginner division (about 140 competitors)</li>
              <li>28 teams in the Advanced division (about 90 competitors)</li>
              <li>28 in-person teams (about 90 competitors)</li>
              <li>45 virtual teams (about 140 competitors)</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="image-fluid shadow w-100" src="/static/csm.jpg" alt="A picture of the Mines campus.">
    </div>
  </div>
</div>

{{ end }}
