{{ define "title" }}Home{{ end }}

{{ define "content" }}

<div class="hero text-center bg-white mb-4 py-4 shadow">
  <div class="mt-4 pt-4">
    <a href="https://cs.mines.edu" target="_blank">
      <img class="csam-logo mt-2" src="/static/csmines.svg" alt="CS@Mines">
    </a>
  </div>

  <h1 class="display-5">High School Programming Competition</h1>
  <h2 class="mb-2">The 2023 competition will be held Saturday, April 29th, 2023.</h2>
  <p id="registration-info" class="mb-4">
    Engage in exciting problems at the Mines HSPC! Registration is now open for Spring 2023
    competition.
  </p>
  <p id="registration-info" class="mb-4">
    <span class="badge text-bg-danger py-2 px-4 me-4 fs-5"><b>Registration Extended</b></span>
    The new registration deadline is <b>April 14th</b>
  </p>
  {{ if .RegistrationEnabled }}
    <a href="/register" class="btn btn-success btn-lg px-6 fs-3"><b>Register Now</b></a>
  {{ else }}
    <a href="https://forms.gle/VkaLnHMQrS6wESFV8" class="btn btn-primary btn-lg px-6">Register Interest</a>
  {{ end }}
</div>

<div class="container page-content home">
  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>Engage in Exciting Problems</h1>
        <div class="content-text">
          <p>
            The CS@Mines High School Programming Competition is a competition
            for high school students to write programs that solve problems.
          </p>
          <p>
            We model our programming competition off well-known college-level
            competitions such as <a href="https://icpc.global">ICPC</a>, but bring an
            inviting set of problems to the table suitable for high school
            students.
          </p>
          <p>
            The 2023 competition will include <strong>four</strong> available tracks in the
            form of both <strong>in-person and virtual</strong> competitions, which compete at
            the same day and time. Both competitions are offered in two levels of difficulty:
            <strong>Beginner</strong>, for  students with basic computing experience and
            <strong>advanced</strong>, for students with significant computing experience.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition1.jpg" alt="Problem solution presentation at the 2022 competition">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition2.jpg" alt="HSPC volunteers at the 2022 competition">
    </div>
    <div class="col">
      <div class="info-box shadow">
        <h1>Schedule</h1>
        <div class="content-text">
          <p id="schedule-header">Saturday, April 29th, 2023</p>
          <div class="row mb-1">
            <div class="col-5" aria-label="Time">8:30 AM to 9:00 AM</div>
            <div class="col" aria-label="Event">Registration</div>
            <div class="w-100"><hr></div>
            <div class="col-5">9:00 AM to 10:00 AM</div>
            <div class="col">Introduction and Setup</div>
            <div class="w-100"><hr></div>
            <div class="col-5">10:00 AM to 2:00 PM</div>
            <div class="col">Competition</div>
            <div class="w-100"><hr></div>
            <div class="col-5">11:30 AM to 12:00 PM</div>
            <div class="col">Lunch available (at Mines)</div>
            <div class="w-100"><hr></div>
            <div class="col-5">2:00 PM to 3:00 PM</div>
            <div class="col">Awards</div>
            <div class="w-100"><hr></div>
            <div class="col-5">3:00 PM to 4:00 PM</div>
            <div class="col">Campus Tour (optional)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>About Us</h1>
        <div class="content-text">
          <p>
            Mines is a public research university focused on science and engineering, located in Golden, CO.
            HSPC is organized and run by Mines ACM volunteers with funding from CS@Mines.
            <br><br>
            In the 2022 competition, we had:
            <ul>
              <li>45 different schools</li>
              <li>9 different states (CO, CA, IL, MN, NJ, TX, AR, MA, GA)</li>
              <li>45 teams in the Beginner division (about 140 competitors)</li>
              <li>28 teams in the Advanced division (about 90 competitors)</li>
              <li>28 in-person teams (about 90 competitors)</li>
              <li>45 virtual teams (about 140 competitors)</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="image-fluid shadow w-100" src="/static/csm.jpg" alt="A picture of the Mines campus.">
    </div>
  </div>
</div>

{{ end }}
