{{ define "title" }}Home{{ end }}

{{ define "content" }}

<div class="hero text-center bg-white mb-4 py-4 shadow">
  <div class="mt-4 pt-4">
    <a href="https://cs.mines.edu" target="_blank">
      <img class="csam-logo mt-2" src="/static/csmines.svg" alt="CS@Mines">
    </a>
  </div>

  <h1 class="display-5">High School Programming Competition</h1>
  <h2 class="mb-2">The 2023 competition was held on Saturday, April 29th, 2023.</h2>
  <p id="registration-info" class="mb-4">
    Engage in exciting problems at the Mines HSPC!
    {{ if .RegistrationEnabled }}
      Registration is now open for Spring 2024 competition.
    {{ end }}
  </p>
  {{ if .RegistrationEnabled }}
    <p id="registration-info" class="mb-4">
      <span class="badge text-bg-danger py-2 px-4 me-4 fs-5"><b>Registration Extended</b></span>
      The new registration deadline is <b>April 14th</b>
    </p>
    <a href="/register" class="btn btn-success btn-lg px-6 fs-3"><b>Register Now</b></a>
  {{ else }}
    <small class="text-secondary">
      Registration for this year's competition has closed.
    </small>
  {{ end }}
</div>

<div class="container page-content home">
  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>Engage in Exciting Problems</h1>
        <div class="content-text">
          <p>
            The CS@Mines High School Programming Competition is a competition
            for high school students to write programs that solve problems.
          </p>
          <p>
            Our programming competition is modelled after well-known college-level
            competitions such as <a href="https://icpc.global">ICPC</a>, but we
            make an inviting set of problems suitable for high school students.
          </p>
          <p>
            Starting in the 2024 competition, we will have <strong>three tracks</strong>,
            in the form of <strong>in-person beginner and advanced</strong> competitions,
            and an open to anyone, all difficulty virtual division.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition1.jpg" alt="Problem solution presentation at the 2022 competition">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/competition2.jpg" alt="HSPC volunteers at the 2022 competition">
    </div>
    <div class="col">
      <div class="info-box shadow">
        <h1>Schedule</h1>
        <div class="content-text">
          <p id="schedule-header">2024 Date TBA</p>
          <div class="row mb-1">
            <div class="col-5" aria-label="Time">8:30 AM to 9:00 AM</div>
            <div class="col" aria-label="Event">Registration & Check-In</div>
            <div class="w-100"><hr></div>
            <div class="col-5">9:00 AM to 10:00 AM</div>
            <div class="col">Opening Ceremony</div>
            <div class="w-100"><hr></div>
            <div class="col-5">10:00 AM to 2:00 PM</div>
            <div class="col">Competition</div>
            <div class="w-100"><hr></div>
            <div class="col-5">11:30 AM to 12:30 PM</div>
            <div class="col">Lunch available (at Mines)</div>
            <div class="w-100"><hr></div>
            <div class="col-5">2:00 PM to 3:00 PM</div>
            <div class="col">Closing Ceremony & Awards</div>
            <div class="w-100"><hr></div>
            <div class="col-5">3:00 PM to 4:00 PM</div>
            <div class="col">Optional Campus Tour</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>About Us</h1>
        <div class="content-text">
          <p>
            Mines is a public research university focused on science and engineering, located in Golden, Colorado.
            HSPC is organized and run by Mines ACM volunteers with funding from CS@Mines.
            <br><br>
            In the 2023 competition, we were pleased to host:
            <ul>
              <li>39 different schools, 18 returning schools</li>
              <li>7 different states (CO, NJ, NY, MI, IL, CA, MA)</li>
              <li>48 teams in the beginner division</li>
              <li>33 teams in the advanced division</li>
              <li>37 in-person teams (about 120 competitors)</li>
              <li>44 virtual teams (about 120 competitors)</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="image-fluid shadow w-100" src="/static/csm.jpg" alt="A picture of the Mines campus.">
    </div>
  </div>
</div>

{{ end }}
