{{ define "title" }}Info{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Competition Information</h1>
    </div>
  </div>
</div>

<div class="container page-content faq">
  <div class="row">
    <div class="col m-4">
      <h2>Address & Parking</h2>
      <p>
        The competition will be at the Center for Technology and Learning Media (CTLM):
        <b>1650 Arapahoe St, Golden, CO 80401</b>

        We recommend parking at the CTLM Parking Lot on 18th St, and will have volunteers around the building waiting. Parking is free since it is a weekend. Please arrive before 9:00am (ideally 8:30am) so that you can check in. The competition ends at 3:00pm.

        Once at CTLM, enter to the left of the “Gordian Knot,” and we will direct you to the opening ceremony room, CTLM102. We will have volunteers and signs in case you get lost.
      </p>
      <p>
        See the Mines campus map <a href="https://tour.mines.edu/map/">here</a>.
      </p>
      <h2>In-Person Check In</h2>
      <p>
        Students will receive a QR code in their email which will act as their ticket for the competition.
        A volunteer will scan the student's QR code to make sure all of the necessary forms have been signed.
      </p>
      <h2>Practice Competition</h2>
      <p>
        We'll send out details via email a week before the competition describing how to test in the practice competition.
      </p>
      <h2>Food</h2>
      <p>
        Food will be provided around 11:30am on competition day.
      </p>
      <h2>Contact Information</h2>
      <p>
        Please email <a href="mailto:support@mineshspc.com">support@mineshspc.com</a> with any questions.
      </p>
    </div>
  </div>
</div>
{{ end }}
