{{ define "title" }}Register{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Register</h1>
    </div>
  </div>
</div>

<div class="container page-content register">
  <div class="row">
    <div class="col m-4">
      <div class="card-group text-center">
        <div class="card border-primary">
          <div class="card-header py-3 text-center text-bg-primary border-primary">
            <h3 class="my-0 fw-normal">Teacher</h3>
          </div>
          <div class="card-body">
            <p>
              <b>Teachers must register teams for the competition.</b> You may register as many
              teams as you would like, however, we only guarantee that two teams will be able to
              participate per-school.
            </p>
            <p>All registrations are subject to approval by the HSPC organizers.</p>
          </div>
          <div class="card-footer">
            <a href="/register/teacher/" type="button" class="w-100 btn btn-lg btn-primary">
              Register A Team
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header py-3 text-center">
            <h3 class="my-0 fw-normal">Student</h3>
          </div>
          <div class="card-body">
            <p>
              <b>Students need to be signed up by their teachers.</b> You should recieve an email once your teacher has signed you up.
            </p>
            <p>
              You will need to submit some additional information, and your parent or guardian will
              have to sign some forms to complete your registration.
            </p>
          </div>
          <div class="card-footer">
            <a href="/register/student/" type="button" class="w-100 btn btn-lg btn-outline-primary">
              Submit Information
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header py-3 text-center">
            <h3 class="my-0 fw-normal">Parent</h3>
          </div>
          <div class="card-body">
            <p>
              <b>Students need to be signed up by their teachers.</b> After your student has
              confirmed their information is correct, you may need to sign additional forms in order
              for your student to be allowed to participate.
            </p>
          </div>
          <div class="card-footer">
            <a href="/register/parent/" type="button" class="w-100 btn btn-lg btn-outline-primary">
              Sign Forms
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
