{{ define "title" }}Teacher Login{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Login to Teacher Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <div>
    Want to <a href="/register/teacher/createaccount">create an account</a> instead?
  </div>
  <form method="post" action="/register/teacher/login" class="form-floating">
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Login</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email-address" placeholder="you@example.com">
                  <label for="email-address">Email address</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
{{ end }}

