{{ define "title" }}Teacher Login{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Login to Teacher Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <form method="post" action="/register/teacher/login" class="form-floating">
    <div class="row">
      <div class="col m-4 mb-0">
        {{ with .Data.EmailNotFound }}
          <div class="alert alert-danger" role="alert">
            That email doesn't exist in our system. Did you want to
            <a href="/register/teacher/createaccount">create an account</a> instead?
          </div>
        {{ else }}
          {{ with .Data.EmailNotConfirmed }}
            <div class="alert alert-danger" role="alert">
              That email hasn't been confirmed yet. Please confirm your email before logging in.
            </div>
          {{ else }}
            <div class="alert alert-secondary" role="alert">
              Don't have an account? <a href="/register/teacher/createaccount">Create an account</a> instead.
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Login</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" name="email-address" class="form-control" id="email-address"
                    placeholder="you@example.com" required 
                    {{ with .Data.Email }}value="{{ . }}"{{ end }}
                    />
                  <label for="email-address">Email address</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
      </div>
    </div>
  </form>
</div>
{{ end }}
