{{ define "title" }}Register{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Register</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="registration-form-container container p-4">
    <form class="form-floating">
      <input type="hidden" name="registration-id" value="{{ .Data.RegistrationID }}" />
      <div class="row mb-4 align-items-center">
        <div class="col-auto">
          <label for="iama" class="form-label">I am a</label>
        </div>
        <div class="col-auto">
          <div id="iama" class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btn-student" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-student">Student</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn-teacher" autocomplete="off" checked />
            <label class="btn btn-outline-primary" for="btn-teacher">Teacher</label>
          </div>
        </div>
      </div>
      <div id="no-registration-id" class="row mb-4 notify-student-to-get-link d-none">
        <p>No registration ID found. Please ask your teacher to register your team.</p>
      </div>
      <div id="your-information" class="card mb-4">
        <h4 class="card-header">Your Information</h4>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control col-12" id="your-name" placeholder="Jane Doe">
                <label for="your-name">Your Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-floating">
                <input type="email" class="form-control" id="email-address" placeholder="you@example.com">
                <label for="email-address">Email address</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="your-information" class="card mb-4">
        <h4 class="card-header">School Information</h4>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control col-12" id="school-name" placeholder="Your High School">
                <label for="school-name">School Name</label>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="form-floating">
                <input type="email" class="form-control" id="school-city" placeholder="Denver">
                <label for="school-city">School City</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-floating">
                <input type="email" class="form-control" id="school-state" placeholder="Colorado">
                <label for="school-state">School State/Province</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="prove-youre-human" class="card mb-4">
        <h4 class="card-header">Prove You Are Human</h4>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col">
              <p>What is the output of the following Python code snippet?</p>
              <pre>L = [
                {{- range $i, $s := .Data.CaptchaElements -}}
                  <span style="color: green;">"{{ $s }}"</span>{{ if lt $i 4 }}, {{ end }}
                {{- end -}}
                ]
<span style="color: blue;">print</span>({{- range $i, $s := .Data.CaptchaIndexes -}}
                L[{{ $s }}]{{ if lt $i 2 }} + {{ end }}{{ end -}})</pre>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <div class="form-floating">
                <input type="email" class="form-control" id="school-state" placeholder="A">
                <label for="school-state">Output of the above snippet</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-12">
          <button type="submit" class="btn btn-lg btn-primary">Setup Teams</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}

