{{ define "title" }}Create Account{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Create Teacher Account</h1>
      </div>
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container page-content teacher">
  <form method="post" action="/register/teacher/createaccount" class="form-floating">
    <div class="row">
      <div class="col m-4 mb-0">
        {{ with .Data.EmailExists }}
          <div class="alert alert-danger" role="alert">
            That email already exists in our system. Did you want to <a href="/register/teacher/login">log in</a> instead?
          </div>
        {{ else }}
          <div class="alert alert-secondary" role="alert">
            Already have an account? <a href="/register/teacher/login">Log in</a> instead.
          </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Your Information</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control col-12" name="your-name" id="your-name" placeholder="Jane Doe"
                    {{ with .Data.Name }}value="{{ . }}"{{ end }} />
                  <label for="your-name">Your Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" name="email-address" id="email-address" placeholder="you@example.com"
                    {{ with .Data.Email }}value="{{ . }}"{{ end }} />
                  <label for="email-address">Email address</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Prove You Are Human</h4>
          <div class="card-body">
            {{ if .Data.CaptchaError }}
              <div class="alert alert-danger" role="alert">
                Please complete the captcha.
              </div>
            {{ end }}
            <div class="g-recaptcha" data-sitekey="{{ .Data.ReCaptchaSiteKey }}"></div>
            <noscript>
              <b>This site is protected by reCAPTCHA.</b>
              Please enable JavaScript to create an account.
            </noscript>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary">Create Account</button>
      </div>
    </div>
  </form>
</div>
{{ end }}
