{{ define "title" }}Register{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Register Teacher</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <div class="row">
    <div class="col text-center m-4">
      <h3>
        Please enter the following information about you and your school.
      </h3>
    </div>
  </div>
  <form class="form-floating">
    <input type="hidden" name="registration-id" value="{{ .Data.RegistrationID }}" />
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Your Information</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control col-12" id="your-name" placeholder="Jane Doe">
                  <label for="your-name">Your Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email-address" placeholder="you@example.com">
                  <label for="email-address">Email address</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">School Information</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control col-12" id="school-name" placeholder="Your High School">
                  <label for="school-name">School Name</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="school-city" placeholder="Denver">
                  <label for="school-city">School City</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="school-state" placeholder="Colorado">
                  <label for="school-state">School State/Province</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Prove You Are Human</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col">
                <p>What is the output of the following Python code snippet?</p>
                <pre>L = [
                  {{- range $i, $s := .Data.CaptchaElements -}}
                    <span style="color: green;">"{{ $s }}"</span>{{ if lt $i 4 }}, {{ end }}
                  {{- end -}}
                  ]
<span style="color: blue;">print</span>({{- range $i, $s := .Data.CaptchaIndexes -}}
                  L[<span style="color: red;">{{ $s }}</span>]{{ if lt $i 2 }} + {{ end }}{{ end -}})</pre>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="school-state" placeholder="A">
                  <label for="school-state">Output of the above snippet</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary">Setup Teams</button>
      </div>
    </div>
  </form>
</div>
{{ end }}

