{{- define "title" -}}
  {{- with .Data.Team -}}
    Edit Team: {{ .Name }}
  {{- else -}}
    Create Team
  {{- end -}}
{{- end -}}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col-md-2">
      <a href="/register/teacher/teams" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i>
        Back
      </a>
    </div>
    <div class="col-md-8">
      <div class="header">
        <h1>
          {{- with .Data.Team -}}
            Edit Team: {{ .Name }}
          {{- else -}}
            Create Team
          {{- end -}}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  {{ if not .RegistrationEnabled }}
    <div class="row pt-4 px-4">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          Registration is currently disabled. This page is now read-only.
        </div>
      </div>
    </div>
  {{ end }}

  <form method="post" action="/register/teacher/team/edit{{ with .Data.Team }}?team_id={{ .ID }}{{ end }}"
        class="form-floating {{ if .Data.Validated }}was-validated{{ end }}">
    {{ with .Data.Error.General }}
      <div class="alert alert-danger" role="alert">
        {{ . }}
      </div>
    {{ end }}
    <div class="row">
      <div class="col text-center m-4">
        <div class="alert alert-secondary" role="alert">
          Questions? Email
          <a href="mailto:support@mineshspc.com">support@mineshspc.com</a>.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Team Information</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control col-12" name="team-name" id="team-name"
                    placeholder="Team Name" required
                    {{ with .Data.Team }}value="{{ .Name }}"{{ end }}
                  />
                  <label for="team-name">Team Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                This team will compete
                <div class="btn-group" role="group" aria-label="Select team location">
                  <input type="radio" class="btn-check" name="team-location"
                    value="in-person" id="in-person" autocomplete="off" required
                    {{ with .Data.Team }}{{ if .InPerson }}checked{{ else }}disabled{{ end }}{{ end }}>
                  <label class="btn btn-outline-primary" for="in-person">in person</label>

                  <input type="radio" class="btn-check" name="team-location"
                    value="remote" id="remote" autocomplete="off" required
                    {{ with .Data.Team }}{{ if not .InPerson }}checked{{ else }}disabled{{ end }}{{ end }}>
                  <label class="btn btn-outline-primary" for="remote">remotely</label>
                </div>
                <div class="form-text">
                  In-person competitors will have the opportunity to do a campus tour after the
                  competition.
                  {{ with .Data.Team -}}
                    If you need to change this, please email
                    <a href="mailto:support@mineshspc.com">support@mineshspc.com</a>.
                  {{- end -}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">Team Division</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Select team division">
                  <input type="radio" class="btn-check" name="team-division"
                    value="Beginner" id="beginner" autocomplete="off" required
                    {{ if not .RegistrationEnabled }}disabled{{ end }}
                    {{ with .Data.Team }}{{ if eq .Division "Beginner" }}checked{{ end }}{{ end }}>
                  <label class="btn w-100 btn-outline-primary" for="beginner">
                    <h4>Beginner</h4>
                    <p>
                      For students who have never competed in HSPC before and who do not have any
                      experience with data structures or algorithms.
                    </p>
                  </label>

                  <input type="radio" class="btn-check" name="team-division"
                    value="Advanced" id="advanced" autocomplete="off" required
                    {{ if not .RegistrationEnabled }}disabled{{ end }}
                    {{ with .Data.Team }}{{ if eq .Division "Advanced" }}checked{{ end }}{{ end }}>
                  <label class="btn w-100 btn-outline-primary" for="advanced">
                    <h4>Advanced</h4>
                    <p>
                      For students who know anything about data structures or algorithms.
                    </p>
                  </label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <label for="team-division-explanation" class="form-label">
                  Why do you think that the division you selected is the best fit for this team?
                </label>
                <textarea class="form-control" name="team-division-explanation"
                  id="team-division-explanation" rows="4" required>{{ with .Data.Team }}{{ .DivisionExplanation }}{{ end }}</textarea>
                <div class="form-text">
                  We will use this information to ensure that teams are placed in the correct
                  division.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ with $t := .Data.Team }}
      <div class="row">
        <div class="col m-4 mt-0">
          <div class="card">
            <h4 class="card-header">Team Members</h4>
            <table class="table mb-0 small">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Age</th>
                  <th scope="col">Previously Participated</th>
                  <th scope="col">Parent/Guardian Email</th>
                  <th scope="col" class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Members }}
                  <tr>
                    <th scope="row">{{ .Name }}</th>
                    <td>{{ .Email }}</td>
                    <td>{{ .Age }}</td>
                    <td>{{ if .PreviouslyParticipated }}Yes{{ else }}No{{ end }}</td>
                    <td>{{ .ParentEmail }}</td>
                    <td class="text-center">
                      <a href="/register/teacher/team/delete?team_id={{ $t.ID }}&email={{ .Email }}"
                         onclick="return confirm('Are you sure you want to remove {{ .Name }} from {{ $t.Name }}?')"
                         class="btn btn-danger">
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
            <div class="card-footer">
              {{ if lt (len .Members) 4 }}
                <a href="/register/teacher/team/addmember?team_id={{ .ID }}" type="button"
                   class="btn btn-primary {{ if not $.RegistrationEnabled }}disabled{{ end }}">
                  Add Member
                </a>
              {{ else }}
                You cannot add more than 4 members to a team. Please delete a member to add a new one.
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary"
          {{ if not .RegistrationEnabled }}disabled{{ end }}
        >
          {{- if .Data.Team -}}
            Save Team
          {{- else -}}
            Create Team
          {{- end -}}
        </button>
      </div>
    </div>
  </form>
</div>
{{ end }}
