{{ define "title" }}Teams{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Register Teams</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  {{ if not .RegistrationEnabled }}
    <div class="row pt-4 px-4">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          Registration is currently disabled.
        </div>
      </div>
    </div>
  {{ end }}
  {{ if .Data.AllowanceReached }}
    <div class="row">
      <div class="col m-4 mb-0">
        <div class="alert alert-warning" role="alert">
          You have reached your quota for sent emails. Please email
          <a href="mailto:support@mineshspc.com">support@mineshspc.com</a>
          if you need to add more members to any of your teams.
        </div>
      </div>
    </div>
  {{ end }}
  <div class="row">
    <div class="col m-4 mb-0 text-center">
      <p>
        These are the teams for <b>{{ .Data.SchoolName }}</b>.
        Click
        <a href="/register/teacher/schoolinfo">here</a>
        to change your school information.
      </p>
    </div>
  </div>
  {{ if .Data.Teams }}
    <div class="row">
      <div class="col m-4 mb-0">
        <div class="alert alert-secondary" role="alert">
          Need to delete a team? Email
          <a href="mailto:support@mineshspc.com">support@mineshspc.com</a>.
        </div>
      </div>
    </div>
  {{ end }}
  {{ range $t := .Data.Teams }}
    <div class="row">
      <div class="col m-4">
        <div class="card">
          <div class="card-header">
            Team <b>{{ .Name }}</b>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-2">Division:</dt>
              <dd class="col-sm-2">{{ .Division }}</dd>
              <dt class="col-sm-2">In Person:</dt>
              <dd class="col-sm-2">{{ if .InPerson }}Yes{{ else }}No{{ end }}</dd>
            </dl>
            <ul class="list-group">
              {{ range .Members }}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      <h4><b>{{ .Name }}</b></h4>
                      <dl class="row">
                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">{{ .Email }}</dd>
                        <dt class="col-sm-4">Age:</dt>
                        <dd class="col-sm-8">{{ .Age }}</dd>
                        <dt class="col-sm-4">Previously Participated:</dt>
                        <dd class="col-sm-8">{{ if .PreviouslyParticipated }}Yes{{ else }}No{{ end }}</dd>
                        {{ if lt .Age 18 }}
                        <dt class="col-sm-4">Parent/Guardian Email:</dt>
                        <dd class="col-sm-8">{{ .ParentEmail }}</dd>
                        {{ end }}
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="registration-progress">
                        <div class="step {{ if .EmailConfirmed }}completed{{ end }}">
                          <span><i class="fa {{ if .EmailConfirmed }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                        </div>
                        <span class="line {{ if .LiabilitySigned }}completed{{ end }}"></span>
                        <div class="step {{ if .LiabilitySigned }}completed{{ end }}">
                          <span><i class="fa {{ if .LiabilitySigned }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                        </div>
                        {{ if $t.InPerson }}
                          <span class="line {{ if .ComputerUseWaiverSigned }}completed{{ end }}"></span>
                          <div class="step {{ if .ComputerUseWaiverSigned }}completed{{ end }}">
                            <span><i class="fa {{ if .ComputerUseWaiverSigned }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                          </div>
                          <span class="line {{ if .MultimediaReleaseForm }}completed{{ end }}"></span>
                          <div class="step {{ if .MultimediaReleaseForm }}completed{{ end }}">
                            <span><i class="fa {{ if .MultimediaReleaseForm }}fa-check{{ else }}fa-times{{ end }}"></i></span>
                          </div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="registration-progress-text">
                        <div><small class="{{ if not .EmailConfirmed }}text-muted{{ end }}">Email Confirmed</small></div>
                        <span class="line"></span>
                        <div><small class="{{ if not .LiabilitySigned }}text-muted{{ end }}">Liability Waiver</small></div>
                        {{ if $t.InPerson }}
                          <span class="line"></span>
                          <div><small class="{{ if not .ComputerUseWaiverSigned }}text-muted{{ end }}">Computer Use Waiver</small></div>
                          <span class="line"></span>
                          <div><small class="{{ if not .MultimediaReleaseForm }}text-muted{{ end }}">Multimedia Release</small></div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="card-footer">
            <a href="/register/teacher/team/edit?team_id={{ .ID }}" type="button" class="btn btn-primary">
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  {{ if .RegistrationEnabled }}
    <div class="row text-center p-4">
      <div class="col-md-12">
        <a href="/register/teacher/team/edit" class="btn btn-lg btn-primary">New Team</a>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
