{{ define "title" }}Confirm Email{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Confirm Email</h1>
    </div>
  </div>
</div>

<div class="container page-content confirm-email">
  {{ with .Data.Error }}
    <div class="row">
      <div class="alert alert-danger" role="alert">
        <p>That login code was expired or invalid.</p>
        <p>
          Forgot to confirm your email?
          <a href="mailto:support@mineshspc.com">Contact Support</a>.
        </p>
      </div>
    </div>
  {{ else }}
    <div class="row">
      <div class="col m-4 text-center">
        <p>
          We've sent an email to <b>{{ .Data.Email }}</b>.
        </p>
        <p style="font-size: 10em; line-height: 0;"><i class="fa fa-envelope-o"></i></p>
        <p>
          Please check your email and click the link to confirm your email address and log in.
        </p>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
