{{ define "title" }}Admin Home{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Admin Home</h1>
    </div>
  </div>
</div>

<div class="container page-content rules">
  <div class="row">
    <div class="col m-4">
      <ul>
        <li><a href="/admin/login">login</a></li>
        <li><a href="/admin/teams">teams</a></li>
        <li><a href="/admin/dietaryrestrictions">dietaryrestrictions</a></li>
        <li><a href="/admin/volunteers">volunteers</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
