{{ define "title" }}Admin Dietary Restrictions{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Admin Dietary Restrictions</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <div class="row">
    <div class="col m-4">
      <a href="/admin/api/dietaryrestrictions" class="btn btn-primary">Download CSV</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Data.DietaryRestrictions }}
        <tr>
          <td>{{ . }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
