{{ define "title" }}Admin Home{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Admin Home</h1>
    </div>
  </div>
</div>

<div class="container page-content rules">
  <div class="row">
    <div class="col m-4">
      <p>
        Note that all endpoints besides login require you to be logged in as an admin. I didn't
        implement any redirects to the login page if you are not logged in (it just doesn't return
        any data in those cases), so if no data shows up, re-authenticate using the login page.
      </p>
      <ul>
        <li><a href="/admin/login">login</a></li>
        <li><a href="/admin/teams">teams</a></li>
        <li><a href="/admin/dietaryrestrictions">dietaryrestrictions</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
