{{ define "title" }}Confirm Email{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Confirm Email</h1>
    </div>
  </div>
</div>

<div class="container page-content confirm-email">
  {{ with .Data.Error }}
    <div class="row">
      <div class="alert alert-danger" role="alert">
        <p>That login code was expired or invalid.</p>
        <p>
          Forgot to confirm your email?
          <a href="mailto:support@mineshspc.com">Contact Support</a>.
        </p>
      </div>
    </div>
  {{ else }}
    <div class="row">
      <div class="col m-4 text-center">
        <p>
          If <b>{{ .Data.Email }}</b> has a confirmed account, we've sent a login link to that address.
        </p>
        <p style="font-size: 10em; line-height: 0;"><i class="fa fa-envelope-o"></i></p>
        <p>
          Please check your email and click the link to log in.
        </p>
        <p>
          If you haven't confirmed your email yet, check your inbox for the original confirmation email.
          If you need help, <a href="mailto:support@mineshspc.com">contact support</a>.
        </p>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
