{{ define "title" }}Enter School Information{{ end }}

{{ define "content" }}
<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>Enter School Information</h1>
      </div>
    </div>
  </div>
</div>

<div class="container page-content teacher">
  <form method="post" action="/register/teacher/schoolinfo"
        class="form-floating {{ if .Data.Validated }}was-validated{{ end }}">
    {{ with .Data.Error.General }}
      <div class="alert alert-danger" role="alert">
        {{ . }}
      </div>
    {{ end }}
    <div class="row">
      <div class="col text-center m-4">
        Please enter the following information about your school.
      </div>
    </div>
    <div class="row">
      <div class="col m-4 mt-0">
        <div class="card">
          <h4 class="card-header">School Information</h4>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control col-12" name="school-name" id="school-name"
                    placeholder="Your High School" required
                    {{ if .Data.Validated }}value="{{ .Data.SchoolName }}"{{ end }}
                  />
                  <label for="school-name">School Name</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" name="school-city" id="school-city"
                    placeholder="Denver" required
                    {{ if .Data.Validated }}value="{{ .Data.SchoolCity }}"{{ end }}
                    />
                  <label for="school-city">School City</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" name="school-state" id="school-state"
                    placeholder="Colorado" required
                    {{ if .Data.Validated }}value="{{ .Data.SchoolState }}"{{ end }}
                    />
                  <label for="school-state">School State/Province (include country if not USA)</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center pb-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-primary">Setup Teams</button>
      </div>
    </div>
  </form>
</div>
{{ end }}
