{{ define "title" }}Volunteer Scan{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Volunteer Scan</h1>
    </div>
  </div>
</div>

<div class="container page-content volunteer-scan">
  {{ if not .Data.LoggedInAsVolunteer }}
    <div class="row">
      <div class="col m-4">
        <div class="alert alert-danger" role="alert">
          Please <a href="/volunteer/login">login</a> before using this page.
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .Data.NotInPerson }}
    <div class="row">
      <div class="col m-4 text-center">
        <p>
          <b>Something strange happened!</b> We were not expecting this student to be in-person.
        </p>
      </div>
    </div>
  {{ else if .Data.Student }}
    <div class="row">
      <div class="col m-4 text-center">
        <h2>{{ .Data.Student.Name }}</h2>
        <h3>{{ .Data.TeamName }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col mx-4 text-center">
        <div class="alert alert-{{ if .Data.AllGood }}success{{ else }}danger{{end}}" role="alert">
          <b>
            {{ if .Data.AllGood }}
              All Forms Signed
            {{ else }}
              Some Steps Not Complete!
            {{end}}
          </b>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m-4">
        <table class="table">
          <tbody>
            <tr>
              <td>
                Email Confirmed
              </td>
              <td>
                <div class="step {{ if .Data.Student.EmailConfirmed }}completed{{ end }}">
                  <i class="fa {{ if .Data.Student.EmailConfirmed }}fa-check{{ else }}fa-times{{ end }}"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                Liability Waiver and Photo/Multimedia Model Release
              </td>
              <td>
                <div class="step {{ if .Data.Student.LiabilitySigned }}completed{{ end }}">
                  <i class="fa {{ if .Data.Student.LiabilitySigned }}fa-check{{ else }}fa-times{{ end }}"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                Colorado School of Mines Minor's Computer Use Waiver Form
              </td>
              <td>
                <div class="step {{ if .Data.Student.ComputerUseWaiverSigned }}completed{{ end }}">
                  <i class="fa {{ if .Data.Student.ComputerUseWaiverSigned }}fa-check{{ else }}fa-times{{ end }}"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col m-4 text-center">
        {{ if .Data.Student.CheckedIn }}
          Checked In!
        {{ else if (not .Data.AllGood) }}
          Cannot check in because not all forms are complete. Please contact one of the
          administrators.
        {{ else }}
          <a href="/volunteer/checkin?tok={{ .Data.Token }}" class="btn btn-lg btn-success">
            Check In
          </a>
        {{ end }}
      </div>
    </div>
    {{ if and (not .Data.AllGood) .Data.LoggedInAsAdmin }}
      <div class="row">
        <div class="col m-4">
          <div class="card">
            <div class="card-header">
              Admin Options
            </div>
            <div class="card-body p-4">
              {{ with .Data.Student }}
                {{ if not .EmailConfirmed }}
                  <a href="/admin/api/resendstudentemail?email={{ .Email }}&page=volunteer">
                    Resend Student Email Confirmation
                  </a>
                  &bull;
                  <a href="/admin/api/confirmationlink/student?email={{ .Email }}"
                     title="Get the link for sending via a side-channel. Use if the student's email is blocking our emails.">
                    Get link
                  </a>
                {{ end }}
                {{ if and .EmailConfirmed (not .LiabilitySigned) }}
                  <a href="/admin/api/resendparentemail?email={{ .Email }}&page=volunteer">
                    Resend Parent Email ({{ .ParentEmail }})
                  </a>
                  &bull;
                  <a href="/admin/api/confirmationlink/parent?email={{ .Email }}"
                     title="Get the link for sending via a side-channel. Use if the parent's email is blocking our emails.">
                    Get link
                  </a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ else }}
    <div class="row">
      <div class="col m-4 text-center">
        <p>
          <b>Instructions:</b> use your phone camera to scan the QR code that the student presents.
        </p>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
