@font-face {
    font-family: 'Gotham';
    src: url('./media/fonts/subset-GothamBold.woff2') format('woff2'),
    url('./media/fonts/subset-GothamBold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

body {
    background-color: rgba(105, 88, 130, 0.15);
}

.container {
    max-width: 85%;
}

#main-nav {
    background-color: #8E44AD; 
    font-family: 'Gotham';
}

.nav-link {
    color: white;
    font-size: 25px;
}

.content {
    background-color: #ffffff;
    font-size: 20px;
    padding: 25px;
    height: 100%;
}

.header {
    display: block;
    color: #ffffff;
    background-color: #8E44AD;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    width: 85%;
}

.content h1, h2 {
    display: block;
    background-color: #8E44AD;
    color: #ffffff;
    padding: 10px;
}

h1, h2, h3 {
    font-family: Gotham, sans-serif;
    font-weight: 700;
}

.center-image {
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.footer {
    margin-bottom: 20px;
    padding: 20px;
}

.signup-link {
    background-color: white;
    padding: 10px;
    border-bottom: 30px solid #8E44AD;
}

.btn-lg {
    font-size: 18px;
}

.btn-ol {
    border: 3px solid white;
    border-radius: 0.3rem;
    color: white;
    background-color: #8e44ad;
    display: table-cell;
    vertical-align: middle;
    padding-left: auto;
    padding-right: auto;
}

.btn-ol-container {
    display: inline-block;
    margin-bottom: 20px;
}

.btn-ol:hover {
    background-color: white;
    color: #8e44ad;
}
